<template>
  <div class="accordion-item">
    <h2 class="accordion-header" :id="prefixId('heading')">
      <button
        class="accordion-button"
        :class="{ collapsed: !open }"
        type="button"
        data-bs-toggle="collapse"
        :data-bs-target="prefixId('#collapse')"
        aria-expanded="true"
        :aria-controls="prefixId('#collapse')"
      >
        <slot name="header">Accordion Item Header</slot><!--{{ header }} [{{ open }}]-->
      </button>
    </h2>
    <div
      :id="prefixId('collapse')"
      class="accordion-collapse collapse"
      :class="{ show: open }"
      :aria-labelledby="prefixId('heading')"
      data-bs-parent="#activeAdvertisements"
    >
      <div class="accordion-body">
        <slot>Accordion Item Body</slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      required: false,
    },
    body: {
      type: String,
      required: false,
    },
    parent: {
      type: String,
      required: true,
    },
    open: {
      type: Boolean,
      required: false,
      default: false,
    },
    itemId: {
      required: true,
    },
  },
  computed: {},
  methods: {
    prefixId(prefix) {
      return prefix + "-" + this.itemId;
    },
  },
};
</script>
