<template>
    <input
        :class="classes"
        :value="value"
        @change="$emit('change', $event.target.value)"
        ref="input"
        :checked="checked"
        :type="type"
        v-model="model"
    />
</template>

<script>
export default {
    props: {
        value: {},
        classes: {
            type: String,
            default: "form-check-input"
        },
        checked: {},
        type: {
            default: "checkbox"
        },
        model: {}
    },
    methods: {
        focus() {
            this.$refs.input.focus();
        }
    }
};
</script>
