<template>
  <a :href="href" :class="classes">
    <slot></slot>
  </a>
</template>

<script>
import NavLink from "@/Jetstream/NavLink";
export default {
  extends: NavLink,
  // props: ['external']
};
</script>
