<template>
  <nav>
    <ul class="pagination">
      <mp-pagination-link
        v-for="(link, idx) in paginator.links"
        :key="idx"
        :link="link"
      />
      </li>
    </ul>
  </nav>
</template>

<script>
import MpPaginationLink from "./PaginationLink.vue";
export default {
  components: { MpPaginationLink },
  props: {
    paginator: {
      type: Object,
      required: true,
    },
  },
};
</script>
