<template>
  <li
    class="page-item shadow-sm"
    :class="{ active: link.active, disabled: disabled }"
    :aria-current="current"
    :aria-disabled="disabled"
  >
    <span v-if="isSpan" class="page-link" v-html="link.label" />
    <inertia-link
      v-else
      class="page-link"
      :href="link.url"
      v-html="link.label"
    />
  </li>
</template>

<script>
export default {
  props: {
    link: {
        type: Object,
        required: true,
    },
  },
  computed: {
    current() {
      if (this.link.active) return "page";
    },
    disabled() {
      return this.link.url === null;
    },
    isSpan() {
      return this.current || this.disabled;
    },
  },
};
</script>
