<template>
  <span class="price" v-if="price" :title="price | fmtPrice"
    ><slot>{{ price | fmtPrice }}</slot></span
  >
</template>

<script>
export default {
  props: {
    price: {
      required: true,
      // type: Number,
    },
  },
};
</script>
