<template>
  <select
    class="form-select"
    :value="value"
    @input="$emit('input', $event.target.value)"
  >
    <option v-for="option in options" :key="option.id" :value="option.id">
      {{ option.title }}
    </option>
  </select>
</template>

<script>
export default {
  props: ["options", "value"],
};
</script>
