<!-- Card + iDEAL -->
<template>
  <div>
    <ul class="nav nav-tabs" id="stripeTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="card-tab"
          data-bs-toggle="tab"
          href="#card-tab-panel"
          role="tab"
          aria-controls="card"
          aria-selected="true"
          >Card</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ideal-tab"
          data-bs-toggle="tab"
          href="#ideal-tab-panel"
          role="tab"
          aria-controls="ideal"
          aria-selected="false"
          >iDEAL</a
        >
      </li>
    </ul>

    <div
      class="tab-content"
      id="stripeTabContent"
      :class="{ 'is-invalid': stripeError }"
    >
      <div
        class="tab-pane fade show active p-2"
        id="card-tab-panel"
        role="tabpanel"
        aria-labelledby="card-tab"
      >
        <div id="card-element" class="p-2">
          <!-- A Stripe card Element will be inserted here. -->
        </div>
      </div>
      <div
        class="tab-pane fade p-2"
        id="ideal-tab-panel"
        role="tabpanel"
        aria-labelledby="ideal-tab"
      >
        <div id="ideal-bank-element" class="p-2">
          <!-- A Stripe iDEAL Element will be inserted here. -->
        </div>
      </div>
    </div>

    <jet-input-error :message="stripeError" class="my-2" />
    <jet-button class="me-2" @click.native="makePayment">Pay</jet-button>
  </div>
</template>

<script>
const STRIPE_JS_SDK_URL = "https://js.stripe.com";

import JetButton from "@/Jetstream/Button";
import JetInputError from "@/Jetstream/InputError";
// import JetSectionBorder from "@/Jetstream/SectionBorder";

export default {
  components: {
    JetButton,
    JetInputError,
  },
  props: {
    // commission: {},
    // stripeCustomer: {},
    process_url: {
      required: true,
      type: String,
    },
    amount: {
      required: true,
      type: Number,
    },
    stripe_key: {
      required: true,
      type: String,
    },
    payment_intent_minimized: {
      required: true,
      type: Object,
    },
  },
  data: function () {
    // stripe elements
    return {
      stripe: null,
      stripeError: null,
      card: null,
      idealBank: null,
      hidePostalCode: true,
      loading: false,
      token: null,
    };
  },
  methods: {
    makePayment: function (e) {
      e.preventDefault();

      //   console.log("lets make a payment");
      const client_secret = this.payment_intent_minimized.client_secret;

      const paymentMethod = document.querySelector("#stripeTab a.active");
      switch (paymentMethod.id) {
        case "ideal-tab":
          this.payWithIdeal();
          break;
        case "card-tab":
          this.payWithCard();
          break;
        default:
          console.error("No payment method found");
      }

      // this.payWithCard(stripe, card, client_secret);
    },
    payWithCard: function () {
      // loading(true); // exists?
      this.stripe
        .confirmCardPayment(this.payment_intent_minimized.client_secret, {
          payment_method: {
            card: this.card,
          },
        })
        .then((result) => {
          if (result.error) {
            // Show error to your customer
            console.error(result.error);
            this.stripeError = result.error.message;
          } else {
            // The payment succeeded! Do stuff to handle the commission thing.
            console.log("success CARD", result);
            this.$inertia.visit( this.process_url);
          }
        });
    },
    payWithIdeal: function () {
      // Initiate the payment.
      // confirmIdealPayment will redirect the customer to their bank
      this.stripe
        .confirmIdealPayment(this.payment_intent_minimized.client_secret, {
          payment_method: {
            ideal: this.idealBank,
          },
          return_url: this.process_url,
        })
        .then((result) => {
          if (result.error) {
            // Show error to your customer
            console.error(result.error);
            this.stripeError = result.error.message;
          } else {
            // The payment has been processed!
            console.log("success iDEAL", result);
            // orderComplete(clientSecret);
          }
        });
    },
    loadStripeSdk: (version = "v3", callback) => {
      if (window.Stripe) {
        callback();
        return;
      }
      let e = document.createElement("script");
      e.src = `${STRIPE_JS_SDK_URL}/${version}`;
      e.type = "text/javascript";
      document.getElementsByTagName("head")[0].appendChild(e);
      e.addEventListener("load", callback);
    },
    setupStripe: function () {
      this.stripe = Stripe(this.stripe_key, {
        betas: ["ideal_pm_beta_1"],
      });

      const elements = this.stripe.elements();

      this.card = elements.create("card");
      this.card.mount("#card-element");

      this.idealBank = elements.create("idealBank");
      this.idealBank.mount("#ideal-bank-element");
    },
  },
  mounted: function () {
    this.loadStripeSdk("v3", this.setupStripe);
  },
};
</script>
