<template>
  <time v-if="dateTime" :datetime="dateTime" :title="dateTime | fmtDateTime"
    ><slot>{{ dateTime | fmtDateTimeFancy }}</slot></time
  >
</template>

<script>
export default {
  props: {
    dateTime: {
      required: true,
    },
  },
};
</script>
