<template>
  <!-- <h2>Index page</h2> -->

  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Index</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
          Hello world, dit is de index.vue pagina.

          <pre>{{ $page.jetstream }}</pre>
          <pre>You are logged in as {{ $page.user }}</pre>
          <pre>Auth user name: {{ $page.props }}</pre>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";

export default {
  components: {
    AppLayout,
  },
};
</script>
