<template>
    <app-layout>
        <template #header>
            <h2>Commissions</h2>
        </template>
        <!-- <pre>{{ commissions }}</pre> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Advertisement</th>
                    <th>Price</th>
                    <th>Sold at</th>
                    <th>Sold for</th>
                    <th>Commission</th>
                    <th>Paid at</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="commission in commissions" :key="commission.id">
                    <td>{{ commission.advertisement.title }}</td>
                    <td>
                        <mp-price :price="commission.advertisement.price" />
                    </td>
                    <td>
                        <mp-time :dateTime="commission.created_at" />
                    </td>
                    <td><mp-price :price="commission.offer.price" /></td>
                    <td>
                        <mp-price :price="commission.price" />
                    </td>
                    <td>
                        <!-- Already paid -->
                        <template v-if="commission.paid"
                            ><mp-time :dateTime="commission.paid_at" />
                        </template>

                        <!-- Start Checkout session... -->
                        <span
                            v-else-if="false"
                            class="btn btn-sm btn-danger text-white"
                            @click="payCommission(commission)"
                            >Pay commission</span
                        >

                        <!-- Show payment page with options -->
                        <inertia-link
                            v-else
                            class="btn btn-sm btn-danger text-white"
                            :href="route('commissions.show', commission)"
                            >Pay</inertia-link
                        >
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <a href="/billing-portal">Billing Portal</a>
                <!-- <pre>{{ stripeCustomer }}</pre> -->
            </tfoot>
        </table>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MpTime from "@/Marktplaats/Time";
import MpPrice from "@/Marktplaats/Price";
import JetButton from "@/Jetstream/Button";
import JetSectionBorder from "@/Jetstream/SectionBorder";
import Button from "../../Jetstream/Button.vue";

export default {
    components: {
        AppLayout,
        MpTime,
        MpPrice,
        JetButton,
        JetSectionBorder
    },
    props: {
        commissions: {
            required: true
        },
        // stripeCustomer: {}
    },
    data() {
        return {};
    },
    methods: {
        payCommission: function(commission) {
            // retrieve a checkout session
            console.log(
                "about to retrieve a checkout session for this commission",
                route("commissions.session", commission)
            );
            this.$inertia.post(route("commissions.session", commission));
        }
    }
};
</script>
