<template>
  <app-layout>
    <template #header>
      <h2>Commission payment processing</h2>
    </template>

    <div class="row">
      <div class="col-md-4">
        <jet-section-title>
          <template #title
            ><slot name="title">Payment processing</slot></template
          >
          <template #description
            ><slot name="description">{{
              commission.payment_intent_minimized.statement_descriptor
            }}</slot></template
          >
        </jet-section-title>
      </div>

      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3>{{ commission.payment_intent_minimized.description }}</h3>

            <div class="alert" role="alert" :class="alertClass">
              The status of your payment is:
              {{ commission.payment_intent_minimized.status }}
            </div>

            <inertia-link :href="route('commissions.index')">Return to index</inertia-link>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MpPrice from "@/Marktplaats/Price";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";
import JetInputError from "@/Jetstream/InputError";
import JetSectionTitle from "@/Jetstream/SectionTitle";

export default {
  components: {
    AppLayout,
    // StripeElementCard,
    // StripeElementsPlugin,
    JetLabel,
    JetInput,
    JetInputError,
    JetButton,
    JetSectionTitle,
    MpPrice,
  },
  props: {
    commission: {},
    status: {},
  },
  computed: {
    alertClass() {
      if (this.commission.payment_intent_minimized.status == "succeeded")
        return "alert-success";

      return "alert-danger";
    },
  },
};
</script>