<template>
    <app-layout>
        <template #header>
            <h2>Commission payment</h2>
        </template>

        <div class="row">
            <div class="col-md-4">
                <jet-section-title>
                    <template #title
                        ><slot name="title">Payment</slot></template
                    >
                    <template #description
                        ><slot name="description"
                            >Pay with a card or use iDEAL</slot
                        ></template
                    >
                </jet-section-title>
            </div>

            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3>
                            {{ payment_intent_minimized.description }}
                            <span class="badge bg-primary badge-lg my-2">
                                <mp-price :price="commission.price" />
                            </span>
                        </h3>
                        <!-- {{}} -->

                        <h4 v-if="commission.transaction_id">Already paid</h4>

                        <!-- Card + iDEAL -->
                        <template v-else-if="true">
                            <ul
                                class="nav nav-tabs"
                                id="stripeTab"
                                role="tablist"
                            >
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link active"
                                        id="card-tab"
                                        data-bs-toggle="tab"
                                        href="#card-tab-panel"
                                        role="tab"
                                        aria-controls="card"
                                        aria-selected="true"
                                        >Card</a
                                    >
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a
                                        class="nav-link"
                                        id="ideal-tab"
                                        data-bs-toggle="tab"
                                        href="#ideal-tab-panel"
                                        role="tab"
                                        aria-controls="ideal"
                                        aria-selected="false"
                                        >iDEAL</a
                                    >
                                </li>
                            </ul>

                            <div
                                class="tab-content"
                                id="stripeTabContent"
                                :class="{ 'is-invalid': stripeError }"
                            >
                                <div
                                    class="tab-pane fade show active p-2"
                                    id="card-tab-panel"
                                    role="tabpanel"
                                    aria-labelledby="card-tab"
                                >
                                    <div id="card-element" class="p-2">
                                        <!-- A Stripe card Element will be inserted here. -->
                                    </div>
                                </div>
                                <div
                                    class="tab-pane fade p-2"
                                    id="ideal-tab-panel"
                                    role="tabpanel"
                                    aria-labelledby="ideal-tab"
                                >
                                    <div id="ideal-bank-element" class="p-2">
                                        <!-- A Stripe iDEAL Element will be inserted here. -->
                                    </div>
                                </div>
                            </div>

                            <jet-input-error
                                :message="stripeError"
                                class="my-2"
                            />
                            <jet-button class="me-2" @click.native="makePayment"
                                >Pay</jet-button
                            >
                            <!-- <jet-button
                                btnClass="btn-danger mx-2 text-white"
                                @click.native="resetMethods"
                                :disabled="cardEmpty"
                                >Reset</jet-button 
                            > -->
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import {
    StripeElementCard
    // StripeElementsPlugin,
} from "@vue-stripe/vue-stripe";
const STRIPE_JS_SDK_URL = "https://js.stripe.com";

import AppLayout from "@/Layouts/AppLayout";
import MpPrice from "@/Marktplaats/Price";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetButton from "@/Jetstream/Button";
import JetInputError from "@/Jetstream/InputError";
import JetSectionTitle from "@/Jetstream/SectionTitle";
// import JetSectionBorder from "@/Jetstream/SectionBorder";

export default {
    components: {
        AppLayout,
        // StripeElementCard,
        // StripeElementsPlugin,
        JetLabel,
        JetInput,
        JetInputError,
        JetButton,
        JetSectionTitle,
        MpPrice
    },
    props: {
        commission: {},
        // stripeCustomer: {},
        stripe_key: {
            required: true
        },
        payment_intent_minimized: {}
    },
    data: function() {
        // stripe elements
        return {
            stripe: null,
            stripeError: null,
            card: null,
            idealBank: null,
            hidePostalCode: true,
            loading: false,
            token: null
        };
    },
    computed: {
        amount: function() {
            return this.commission.price * 100;
        }
    },
    methods: {
        // elements
        tokenCreated: function(token) {
            console.log("received token", token);
        },
        resetMethods: function() {
            console.log("card ref", this.$refs.cardRef);
            this.$refs.cardRef.clear();
        },
        makePayment: function(e) {
            e.preventDefault();

            console.log("lets make a payment");
            const client_secret = this.payment_intent_minimized.client_secret;

            const paymentMethod = document.querySelector("#stripeTab a.active");
            switch (paymentMethod.id) {
                case "ideal-tab":
                    this.payWithIdeal();
                    break;
                case "card-tab":
                    this.payWithCard();
                    break;
                default:
                    console.error("No payment method found");
            }

            // this.payWithCard(stripe, card, client_secret);
        },
        payWithCard: function() {
            // loading(true); // exists?
            this.stripe
                .confirmCardPayment(this.payment_intent_minimized.client_secret, {
                    payment_method: {
                        card: this.card
                    }
                })
                .then(result => {
                    if (result.error) {
                        // Show error to your customer
                        console.error(result.error);
                        this.stripeError = result.error.message;
                    } else {
                        // The payment succeeded! Do stuff to handle the commission thing.
                        console.log("success CARD", result);
                        this.$inertia.visit(route('commissions.process', this.commission))

                    }
                });
        },
        payWithIdeal: function() {
            // Initiate the payment.
            // confirmIdealPayment will redirect the customer to their bank
            this.stripe
                .confirmIdealPayment(
                    this.payment_intent_minimized.client_secret,
                    {
                        payment_method: {
                            ideal: this.idealBank
                        },
                        return_url: route("commissions.process", this.commission),
                    }
                )
                .then(result => {
                    if (result.error) {
                        // Show error to your customer
                        console.error(result.error);
                        this.stripeError = result.error.message;
                    } else {
                        // The payment has been processed!
                        console.log("success iDEAL", result);
                        // orderComplete(clientSecret);
                    }
                });
        },
        loadStripeSdk: (version = "v3", callback) => {
            if (window.Stripe) {
                callback();
                return;
            }
            let e = document.createElement("script");
            e.src = `${STRIPE_JS_SDK_URL}/${version}`;
            e.type = "text/javascript";
            document.getElementsByTagName("head")[0].appendChild(e);
            e.addEventListener("load", callback);
        },
        setupStripe: function() {
            this.stripe = Stripe(this.stripe_key, {
                betas: ["ideal_pm_beta_1"]
            });

            const elements = this.stripe.elements();

            this.card = elements.create("card");
            this.card.mount("#card-element");

            this.idealBank = elements.create("idealBank");
            this.idealBank.mount("#ideal-bank-element");
        }
    },
    mounted: function() {
        this.loadStripeSdk("v3", this.setupStripe);
    }
};
</script>
