<template>
  <div class="card">
    <div class="card-header" :class="{ 'mine': isMine }">
      <em class="float-end">{{ message.user.name }}</em>
      {{ message.title }}
    </div>
    <div class="card-body">
      {{ message.body }}
      <mp-time class="float-end" :date-time="message.created_at" />
    </div>
  </div>
</template>

<script>
import MpTime from "@/Marktplaats/Time";
export default {
  components: {
    MpTime,
  },
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isMine() {
      return this.message.user.id === this.$page.user.id;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/../sass/_variables.scss";
.mine {
  background: $green;
  color: white;
}
</style>
