<template>
  <div class="mt-3">
    <h4>Message the seller</h4>
    <form @submit.prevent="sendMessage">
      <!-- Title -->
      <div class="mb-3">
        <jet-label for="title">Subject</jet-label>
        <jet-input
          id="title"
          type="text"
          v-model="form.title"
          :class="{ 'is-invalid': form.error('title') }"
          placeholder="Message subject"
        />
        <jet-input-error :message="form.error('title')" class="mt-2" />
      </div>
      <!-- body -->
      <div class="mb-3">
        <jet-label for="body" class="form-label">Your message</jet-label>
        <textarea
          id="body"
          v-model="form.body"
          class="form-control"
          :class="{ 'is-invalid': form.error('body') }"
          :placeholder="placeHolder"
        ></textarea>
        <jet-input-error :message="form.error('body')" class="mt-2" />
      </div>
      <!-- button -->
      <div>
        <jet-button :disabled="form.processing">Send message</jet-button>
        <jet-action-message :on="form.recentlySuccessful" class="ms-3">
          Message sent
        </jet-action-message>
      </div>
    </form>
  </div>
</template>

<script>
import JetButton from "@/Jetstream/Button";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetInputError from "@/Jetstream/InputError";
import JetActionMessage from "@/Jetstream/ActionMessage";

export default {
  props: {
    advertisement: {
      type: Object,
      required: false,
      default: null,
    },
    messageThread: {
      type: Object,
      required: false,
      default: null,
    },
  },
  components: {
    JetButton,
    JetLabel,
    JetInput,
    JetInputError,
    JetActionMessage,
  },
  data() {
    return {
      form: this.$inertia.form(
        {
          title: this.messageThread !== null ? this.messageThread.title : "",
          body: "",
        },
        {
          bag:
            "messageForm-" +
            (this.messageThread !== null
              ? this.messageThread.id
              : this.advertisement.id),
        }
      ),
    };
  },
  computed: {
    isThread() {
      return this.messageThread !== null;
    },
    placeHolder() {
      return this.isThread
        ? "Enter your reply"
        : "What would you like to know?";
    },
  },
  methods: {
    sendMessage() {
      if (this.isThread) {
        this.form.post(route("messages.store", this.messageThread));
      } else {
        this.form.post(route("message_threads.store", this.advertisement));
      }
    },
  },
};
</script>
