<template>
  <app-layout>
    <template #header>
      <h2>Messages</h2>
    </template>

    <message-table :messageThreads="outgoingThreads">
      <template #title>Outbox</template>
      <template #description>Your outgoing messages</template>
    </message-table>

    <jet-section-border />

    <message-table
      :messageThreads="incomingThreads"
    >
      <!-- v-if="this.$page.user.is_seller" -->
      <template #title>Inbox</template>
      <template #description>Your incoming messages</template>
    </message-table>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MessageTable from "./Table";
import JetSectionBorder from "@/Jetstream/SectionBorder";

export default {
  components: {
    AppLayout,
    MessageTable,
    JetSectionBorder,
  },
  props: {
    incomingThreads: {
      required: true,
    },
    outgoingThreads: {
      required: true,
    },
  },
  data() {
    return {};
  },
};
</script>
