<template>
  <app-layout>
    <template #header>
      <h2>Message Center</h2>
    </template>

    <div class="row justify-content-md-center mb-3">
      <div class="col-9">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>{{ advertisement.title }}</h4>
            <mp-time :date-time="advertisement.created_at" />
            By <em>{{ advertisement.user.name }}</em>
            <inertia-link
              class="float-end text-white"
              :href="route('advertisements.list')"
              >show</inertia-link
            >
          </div>
          <div class="card-body">
            {{ advertisement.body }}
          </div>
        </div>
      </div>
    </div>

    <div
      class="row mb-3"
      v-for="message in messageThread.messages"
      :key="message.id"
    >
      <div class="col-8" :class="messageOffset(message)">
        <message-card :message="message" />
      </div>
    </div>

    <message-form :message-thread="messageThread" />
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MpTime from "@/Marktplaats/Time";
import MessageForm from "./Form";
import MessageCard from "./Card";

export default {
  components: {
    AppLayout,
    MpTime,
    MessageForm,
    MessageCard,
  },
  props: {
    messageThread: {
      required: true,
    },
  },
  computed: {
    advertisement() {
      return this.messageThread.advertisement;
    },
  },
  methods: {
    isMe(user) {
      return user.id === this.$page.user.id;
    },
    messageOffset(message) {
      if (this.isMe(message.user)) return "offset-4";
    },
  },
};
</script>
