<template>
  <div class="row">
    <div class="col-md-4">
      <jet-section-title>
        <template #title><slot name="title">Outbox</slot></template>
        <template #description
          ><slot name="description">Your outgoing messages</slot></template
        >
      </jet-section-title>
    </div>

    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <table class="table" v-if="messageThreads.length">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Advertisement</th>
                <th v-if="inbox">User</th>
                <th v-else>Seller</th>
                <th>Started</th>
                <th>Last reply</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="thread in messageThreads" >
                <tr :key="thread.id">
                  <td>{{ thread.title }}</td>
                  <td>{{ thread.advertisement.title }}</td>
                  <td v-if="inbox">{{ thread.user.name }}</td>
                  <td v-else>{{ thread.advertisement.user.name }}</td>
                  <td><mp-time :date-time="thread.created_at" /></td>
                  <td v-if="thread.last_reply_at"><mp-time :date-time="thread.last_reply.created_at" /></td>
                  <td v-else><em>No reply yet</em></td>
                  <td>
                    <inertia-link :href="route('messages.show', thread)"
                      >Show</inertia-link
                    >
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
          <em v-else>There are no messages yet.</em>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JetSectionTitle from "@/Jetstream/SectionTitle";
import MpTime from "@/Marktplaats/Time";

export default {
  components: {
    JetSectionTitle,
    MpTime,
  },
  props: {
    messageThreads: {
      required: true,
    },
    inbox: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
