<template>
  <form class="row row-cols-sm-auto mt-3" @submit.prevent="makeOffer">
    <div class="col">
      <jet-label for="price" value="Price" class="visually-hidden" />
      <jet-input
        id="price"
        type="number"
        :class="{ 'is-invalid': form.error('price') }"
        v-model="form.price"
        :placeholder="advertisement.minimum_offer"
        :min="advertisement.minimum_offer"
        step="0.01"
      />
      <jet-input-error :message="form.error('price')" class="mt-2" />
    </div>
    <div class="col">
      <jet-button :disabled="form.processing">Make offer</jet-button>
      <jet-action-message :on="form.recentlySuccessful" class="ms-3"
        >Offer submitted</jet-action-message
      >
    </div>
  </form>
</template>

<script>
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetInputError from "@/Jetstream/InputError";
import JetButton from "@/Jetstream/Button";
import JetActionMessage from "@/Jetstream/ActionMessage";

export default {
  components: {
    JetLabel,
    JetInput,
    JetInputError,
    JetButton,
    JetActionMessage,
  },
  props: {
    advertisement: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      form: this.$inertia.form(
        {
          price: "", // lowest offer + 0.01
        },
        {
          bag: "makeOffer-" + this.advertisement.id,
          //   preserveState: true,
          //   preserveScroll: true,
        }
      ),
    };
  },
  methods: {
    makeOffer() {
      this.form.post(route("offers.store", this.advertisement));
    },
  },
};
</script>
