<template>
  <div>
    <h4>Offers</h4>
    <table class="table" v-if="offers.length">
      <thead>
        <tr>
          <th>Price</th>
          <th>User</th>
          <th>Date</th>
          <th v-if="isAdvertiser">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(offer, index) in offers" :key="offer.id">
          <td><mp-price :price="offer.price" /></td>
          <td>{{ offer.user.name }}</td>
          <td>
            <mp-time :date-time="offer.created_at" />
          </td>
          <td v-if="isAdvertiser">
            <!-- not sold -->
            <jet-button
              v-if="advertisement.advertisement_status.slug !== 'sold'"
              :btnClass="index == 0 ? 'btn-danger text-white' : ''"
              @click.native="acceptOffer(offer)"
              >Accept</jet-button
            >

            <!-- sold -->
            <template v-else-if="offer.id == advertisement.offer_id">
              <!-- paid -->
              <span
                v-if="advertisement.commission.paid"
                class="badge bg-success"
                >Paid at <mp-time :dateTime="advertisement.commission.paid_at"
              /></span>

              <!-- not paid -->
              <jet-button v-else @click.native="cancelOffer(offer)">
                Cancel
              </jet-button>
            </template>
          </td>
        </tr>
      </tbody>
    </table>
    <em v-else>No offers yet</em>
  </div>
</template>

<script>
import JetButton from "@/Jetstream/Button";
import MpTime from "@/Marktplaats/Time";
import MpPrice from "@/Marktplaats/Price";
export default {
  components: {
    JetButton,
    MpTime,
    MpPrice,
  },
  props: {
    advertisement: {
      required: true,
    },
  },
  computed: {
    offers() {
      return this.advertisement.offers;
    },
    isAdvertiser() {
      if (
        !this.$page.user ||
        !this.advertisement.offers ||
        this.offers.length === 0
      ) {
        return false;
      }

      //   console.log("comparing", this.$page.user.id, this.offers[0].user_id);
      return this.$page.user.id === this.advertisement.user.id;
    },
  },
  methods: {
    acceptOffer: function (offer) {
      this.$inertia.put(route("offers.accept", [this.advertisement, offer]));
    },
    cancelOffer: function (offer) {
      this.$inertia.put(route("offers.cancel", [this.advertisement, offer]));
    },
  },
};
</script>
