<template>
  <jet-form-section @submitted="submitForm">
    <template #title> Postcode Search </template>
    <template #description>{{ placeholder }}</template>
    <template #form>
      <div class="row">
        <div class="col form-floating">
          <div class="form-floating">
            <jet-input
              v-model="form.search_zipcode"
              :class="{
                'is-invalid': form.error('search_zipcode'),
              }"
              id="search_zipcode"
              :placeholder="placeholder_zipcode"
              :aria-placeholder="placeholder_zipcode"
              required
            />
            <!-- pattern="\d{4}(?:[A-Za-z]{2})?" -->
            <jet-label for="search_zipcode">Zipcode </jet-label>
            <jet-input-error
              :message="form.error('search_zipcode')"
              class="mt-2"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <jet-input
              v-model="form.distance"
              :class="{ 'is-invalid': form.error('distance') }"
              id="distance"
              type="number"
              min="0"
              step="5"
            />
            <jet-label for="distance">Max distance (Km)</jet-label>
            <jet-input-error :message="form.error('distance')" class="mt-2" />
          </div>
        </div>
        <div class="col-auto">
          <jet-button>Search</jet-button>
        </div>
      </div>
    </template>
    <template #actions>
      <!--
      <pre>
props: {{ zipcode }}
form.search_zipcode: {{ form.search_zipcode }}
page zipcode: {{ $page.zipcode }}</pre
      >
      -->
    </template>
  </jet-form-section>
</template>

<script>
import JetFormSection from "@/Jetstream/FormSection";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetInputError from "@/Jetstream/InputError";
import JetButton from "@/Jetstream/Button";
export default {
  components: {
    JetFormSection,
    JetLabel,
    JetInput,
    JetInputError,
    JetButton,
  },
  props: {
    zipcode: {
      type: String,
      required: false,
    },
    distance: {
      type: Number,
      required: false,
    },
  },
  data: function () {
    return {
      placeholder: "Enter your zipcode and optional distance limit",
      placeholder_zipcode: "1234AB",
      form: this.$inertia.form(
        {
          search_zipcode: this.zipcode,
          distance: this.distance,
        },
        { bag: "searchDistanceForm" }
      ),
    };
  },
  computed: {},
  methods: {
    submitForm() {
      const trimmedZipcode = this.form.search_zipcode.trim().toLowerCase();
      const url = route("advertisements.search_distance_result", [
        trimmedZipcode,
        this.form.distance,
      ]);
      this.form.post(url, {
        preserveState: (page) => {
          let errors = page.props.errors;
          let errorCount = Object.keys(errors).length;
          return errorCount;
        },
      });
    },
  },
};
</script>
