<template>
    <!-- row-cols-lg-auto align-items-center -->

    <jet-form-section @submitted="submitForm">
        <template #title> Search </template>
        <template #description>{{ placeholder }}</template>
        <template #form>
            <div class="row">
                <div class="col">
                    <jet-label class="visually-hidden" for="search_query"
                        >Query</jet-label
                    >
                    <div class="input-group">
                        <div class="input-group-text">?</div>
                        <jet-input
                            v-model="form.search_query"
                            :class="{
                                'is-invalid': form.error('search_query')
                            }"
                            id="search_query"
                            :placeholder="placeholder"
                            :aria-placeholder="placeholder"
                        />
                        <jet-input-error
                            :message="form.error('search_query')"
                            class="mt-2"
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <jet-button>Search</jet-button>
                </div>
            </div>
        </template>
        <!-- <template #actions>Actions area...</template> -->
    </jet-form-section>
</template>

<script>
import JetFormSection from "@/Jetstream/FormSection";
import JetLabel from "@/Jetstream/Label";
import JetInput from "@/Jetstream/Input";
import JetInputError from "@/Jetstream/InputError";
import JetButton from "@/Jetstream/Button";
export default {
    components: {
        JetFormSection,
        JetLabel,
        JetInput,
        JetInputError,
        JetButton
    },
    props: {
        searchQuery: {
            type: String,
            required: false
        }
    },
    data() {
        return {
            placeholder: "Enter your search query",
            form: this.$inertia.form(
                {
                    query: this.searchQuery
                },
                { bag: "searchForm" }
            )
        };
    },
    computed: {},
    methods: {
        submitForm() {
            const trimmedQuery = this.form.search_query.trim();
            this.form.post(route("advertisements.search_result", trimmedQuery));
        }
    }
};
</script>
