<template>
    <app-layout>
        <template #header>
            <h2>Search</h2>
        </template>

        <search-form :searchQuery="searchQuery" />

        <jet-section-border />

        <search-distance-form :zipcode="zipcode" :distance="distance" />

        <template v-if="showResults">
            <jet-section-border />
            <h3>
                Search results <em>{{ searchTerm }}</em>
            </h3>

            <template v-if="advertisements.total > 0">
                Showing {{ advertisements.data.length }} of
                {{ advertisements.total }} results

                <advertisement-accordion :advertisements="advertisements" />
            </template>
            <template v-else>
                No results found {{ searchTerm }}
            </template>
        </template>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import JetSectionBorder from "@/Jetstream/SectionBorder";
import SearchForm from "./Form";
import SearchDistanceForm from "./DistanceForm";
import AdvertisementAccordion from "@/Pages/Advertisement/Accordion";

export default {
    components: {
        AppLayout,
        SearchForm,
        SearchDistanceForm,
        JetSectionBorder,
        AdvertisementAccordion
    },
    props: {
        advertisements: {
            type: Object,
            required: false
        },
        searchQuery: {
            type: String,
            required: false
        },
        zipcode: {
            type: String,
            required: false
        },
        distance: {
            type: Number,
            required: false
        }
    },
    computed: {
        showResults() {
            return this.advertisements;
        },
        searchTerm() {
            let searchTerm;
            switch (this.$page.currentRouteName) {
                case "advertisements.search_distance_result":
                    if (this.distance > 0)
                        searchTerm = `within ${this.distance} km of zipcode ${this.zipcode}`;
                    else searchTerm = `for zipcode ${this.zipcode}`;
                    break;
                case "advertisements.search_result":
                default:
                    searchTerm = `for ${this.searchQuery}`;
                    break;
            }
            return searchTerm;
        }
    }
};
</script>
