<template>
    <div>
        <div class="accordion shadow-sm" id="activeAdvertisements">
            <mp-accordion-item
                v-for="(advertisement, index) in advertisements.data"
                parent="#activeAdvertisements"
                :key="advertisement.id"
                :item-id="'advertisement-' + advertisement.id"
                :open="index == 0"
            >
                <!-- :open="index == -1" -->

                <template #header>
                    {{ advertisement.title }}
                    <span v-if="advertisement.premium" class="ms-2 badge bg-info">Premium</span>

                    <span class="ms-auto me-1">
                        <template v-if="advertisement.distance"
                            >{{ advertisement.distance_km }} km</template
                        >
                    </span>

                    <span class="ms-1 me-1 col-2 text-end"
                        ><mp-price :price="advertisement.price" /></span
                    >
                </template>

                <advertisement-body :advertisement="advertisement" />
            </mp-accordion-item>
        </div>

        <mp-pagination :paginator="advertisements" class="mt-3" />
    </div>
</template>

<script>
import MpPrice from "@/Marktplaats/Price";
import MpAccordionItem from "@/Marktplaats/AccordionItem";
import AdvertisementBody from "./Body";

import MpPagination from "@/Marktplaats/Pagination";
export default {
    components: {
        MpAccordionItem,
        AdvertisementBody,
        MpPagination,
        MpPrice,
    },
    props: {
        advertisements: {
            type: Object,
            required: true
        }
    }
};
</script>

<style scoped>
time {
    text-align: right;
}

/* style child component */
* >>> .accordion-button::after {
    margin-left: 1rem;
}
</style>
