<template>
    <div>
        <div class="row mb-3">
            <span class="col-6"
                >Sold by: <em>{{ advertisement.user.name }}</em>
                <span class="badge ms-2" :class="statusClass">{{
                    advertisement.advertisement_status.title
                }}</span>
                <br />
                {{ advertisement.zipcode }}
                <!-- <template v-if="advertisement.distance"
                            >({{ advertisement.distance_km }}
                            km)
                        </template> -->
            </span>
            <inertia-link
                class="col-3 offset-3 text-end"
                :href="route('advertisements.show', advertisement)"
            >
                <mp-time :dateTime="advertisement.created_at" />
            </inertia-link>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Description</h4>

                <!-- categories -->
                <div v-if="advertisement.categories" class="mb-2">
                    <inertia-link
                        :href="route('categories.show', category.slug)"
                        v-for="category in advertisement.categories"
                        class="me-1"
                        :key="category.id"
                    >
                        <span class="badge bg-secondary">{{
                            category.title
                        }}</span></inertia-link
                    >
                </div>

                {{ advertisement.body }}

                <message-form
                    :advertisement="advertisement"
                    v-if="!isSeller(advertisement)"
                    class="mt-3"
                />
            </div>

            <div class="col-md-6">
                <offer-overview :advertisement="advertisement" />

                <offer-form
                    v-if="!isSeller(advertisement)"
                    :advertisement="advertisement"
                />
            </div>
        </div>
    </div>
</template>

<script>
import MpTime from "@/Marktplaats/Time";
import OfferOverview from "./Offer/Overview";
import OfferForm from "./Offer/Form";
import MessageForm from "@/Pages/Message/Form";

export default {
    components: {
        MpTime,
        OfferOverview,
        OfferForm,
        MessageForm
    },
    props: {
        advertisement: {
            type: Object,
            required: true
        }
    },
    methods: {
        isSeller(advertisement) {
            return (
                this.$page.user && this.$page.user.id === advertisement.user.id
            );
        }
    },
    computed: {
        statusClass: function() {
            let cls;
            switch (this.advertisement.advertisement_status.slug) {
                case "active":
                    cls = "bg-success";
                    break;
                case "sold":
                    cls = "bg-danger";
                    break;
                default:
                    cls = "bg-secondary";
            }
            return cls;
        }
    }
};
</script>
