<template>
    <div :class="classes">
        <mp-checkbox
            :id="'category-' + category.id"
            :model="checkedCategories"
            :value="category.id"
        />
        <jet-label
            :for="'category-' + category.id"
            classes="form-check-label"
            :value="category.title"
        />
    </div>
</template>

<script>
import JetInput from "@/Jetstream/Input";
import JetLabel from "@/Jetstream/Label";
import MpCheckbox from "@/Marktplaats/Checkbox";

export default {
    components: { JetInput, JetLabel, MpCheckbox },
    props: {
        classes: {
            type: String,
            default: "form-check-inline"
        },
        category: {
            required: true
        },
        checkedCategories: {
            type: Array,
            required: true
        },
        model: {},
    }
};
</script>
