<template>
    <jet-form-section @submitted="submitForm" v-if="visible">
        <template #title>Advertisement</template>
        <template #description>{{ description }}</template>
        <template #form>
            <!-- Advertisement status -->
            <div class="mb-3">
                <jet-label for="advertisement_status_id">Status</jet-label>
                <mp-select
                    id="advertisement_status_id"
                    :options="statusList"
                    v-model="form.advertisement_status_id"
                    :class="{
                        'is-invalid': form.error('advertisement_status_id')
                    }"
                ></mp-select>
                <jet-input-error
                    :message="form.error('advertisement_status_id')"
                    class="mt-2"
                />
            </div>

            <!-- Title -->
            <div class="mb-3">
                <jet-label for="title">Title</jet-label>
                <jet-input
                    id="title"
                    type="text"
                    v-model="form.title"
                    :class="{ 'is-invalid': form.error('title') }"
                    placeholder="Advertisement title"
                />
                <jet-input-error :message="form.error('title')" class="mt-2" />
            </div>

            <!-- Body -->
            <div class="mb-3">
                <jet-label for="body">Body</jet-label>
                <textarea
                    id="body"
                    v-model="form.body"
                    class="form-control"
                    :class="{ 'is-invalid': form.error('body') }"
                    placeholder="Describe the item you're selling"
                />
                <jet-input-error :message="form.error('body')" class="mt-2" />
            </div>

            <!-- Price -->
            <div class="mb-3">
                <jet-label for="price">Price</jet-label>
                <jet-input
                    id="price"
                    type="number"
                    step="any"
                    v-model="form.price"
                    :class="{ 'is-invalid': form.error('price') }"
                    placeholder="0.00"
                />
                <jet-input-error :message="form.error('price')" class="mt-2" />
            </div>

            <!-- Zipcode -->
            <div class="mb-3">
                <jet-label for="zipcode" value="Zipcode" />
                <jet-input
                    id="zipcode"
                    type="text"
                    :class="{ 'is-invalid': form.error('zipcode') }"
                    v-model="form.zipcode"
                    placeholder="1234AB"
                />
                <jet-input-error
                    :message="form.error('zipcode')"
                    class="mt-2"
                />
            </div>

            <!-- Categories -->
            <div class="mb-3">
                <jet-label
                    value="Categories"
                />

                <div
                    class="form-control"
                    :class="{ 'is-invalid': form.error('categories') }"
                >
                    <div
                        class="form-check-inline"
                        v-for="category in categories"
                        :key="category.id"
                    >
                        <input
                            type="checkbox"
                            :id="'category-' + category.id"
                            :value="category.id"
                            v-model="form.categories"
                        />
                        <jet-label
                            :for="'category-' + category.id"
                            classes="form-check-label"
                            :value="category.title"
                        />
                    </div>
                </div>

                <jet-input-error
                    :message="form.error('categories')"
                    class="mt-2"
                />
            </div>
        </template>

        <template #actions>
            <span
                class="btn btn-warning me-auto"
                :disabled="form.processing"
                @click="confirmClearForm"
                v-if="form.isDirty"
            >
                Cancel
            </span>

            <jet-action-message :on="form.recentlySuccessful" class="me-3">
                Saved
            </jet-action-message>

            <jet-button
                :class="{ 'opacity-25': form.processing }"
                :disabled="form.processing"
            >
                Save
            </jet-button>

            <!-- Delete Form Clear Modal -->
            <jet-dialog-modal id="confirmClear">
                <template #title> Clear Form Data (Dialog modal)</template>

                <template #content>
                    Are you sure you want clear the current form data? Unsaved
                    changes will be lost.
                </template>

                <template #footer>
                    <jet-secondary-button data-bs-dismiss="modal">
                        Nevermind
                    </jet-secondary-button>

                    <jet-danger-button
                        @click.native="clearForm"
                        :class="{ 'text-white-50': form.processing }"
                        :disabled="form.processing"
                    >
                        Clear Form Data
                    </jet-danger-button>
                </template>
            </jet-dialog-modal>
        </template>
    </jet-form-section>
</template>

<script>
import JetButton from "@/Jetstream/Button";
import JetFormSection from "@/Jetstream/FormSection";
import JetInput from "@/Jetstream/Input";
import JetInputError from "@/Jetstream/InputError";
import JetLabel from "@/Jetstream/Label";
import JetActionMessage from "@/Jetstream/ActionMessage";
import MpSelect from "@/Marktplaats/Select";
import JetSecondaryButton from "@/Jetstream/SecondaryButton";
import JetDangerButton from "@/Jetstream/DangerButton";
import JetConfirmationModal from "@/Jetstream/ConfirmationModal";
import JetDialogModal from "@/Jetstream/DialogModal";
import CategoryCheck from "./CategoryCheck";

export default {
    components: {
        JetActionMessage,
        JetButton,
        JetFormSection,
        JetInput,
        JetInputError,
        JetLabel,
        MpSelect,
        JetSecondaryButton,
        JetDangerButton,
        JetConfirmationModal,
        JetDialogModal,
        CategoryCheck
    },

    props: ["statusList", "categories"],
    data() {
        return {
            formModel: undefined,
            formModal: undefined,
            form: this.$inertia.form(
                {
                    advertisement_status_id: "", // maybe have a default status (active?)
                    title: "",
                    body: "",
                    zipcode: this.$page.user.zipcode,
                    price: "",
                    categories: []
                },
                {
                    bag: "advertisementForm"
                }
            )
        };
    },
    computed: {
        description: function() {
            return (
                (this.formModel.id > 0 ? "Edit this" : "Create a new") +
                " advertisement"
            );
        },
        visible: function() {
            return typeof this.formModel === "object";
        },
        checkedCategories: {
            get: function() {
                if (!this.formModel || !this.formModel.categories) return [];

                return this.formModel.categories.map(category => category.id);
            },
            set: function(newValue) {
                // this.form.categories = newValue; // ehm...
            }
        }
    },
    methods: {
        submitForm() {
            if (this.formModel && this.formModel.id > 0) {
                return this.update();
            }

            return this.store();
        },
        store() {
            this.form.post(route("advertisements.store"), {
                // preserveScroll: false,
            });
        },
        update() {
            this.form.put(route("advertisements.update", this.formModel), {
                preserveScroll: true,
                preserveState: true
            });
        },
        setAdvertisement(advertisement) {
            this.formModel = advertisement;
            this.fillForm();
        },
        fillForm() {
            this.resetForm();

            if (this.formModel) {
                // copy properties to inertia form
                for (const key in this.formModel) {
                    if (this.form.hasOwnProperty(key)) {
                        this.form[key] = this.formModel[key];
                    }
                }

                // copy category ids
                this.form.categories = this.checkedCategories;
            }
        },
        resetErrors() {
            let formBag = this.form.__options.bag;
            this.form.inertiaPage().errors[formBag] = {};
            this.form.inertiaPage().errorBags[formBag] = {};
        },
        resetForm() {
            this.form.reset();
            // page error(bag)s aren't cleared by form reset, so let's do it manually
            this.resetErrors();
        },
        clearForm() {
            this.resetForm();
            this.formModel = undefined;
            this.formModal.hide();
        },
        confirmClearForm() {
            const modalEl = document.getElementById("confirmClear");
            //   console.log("modal element is", modalEl);
            this.formModal = new Bootstrap.Modal(modalEl, {});
            this.formModal.show();
        }
    }
};
</script>
