<template>
    <app-layout>
        <template #header>
            <h2>Advertisements</h2>
        </template>

        <advertisement-table
            :advertisements="advertisements"
            @edit-advertisement="editAdvertisement"
        />

        <jet-section-border />

        <advertisement-form :statusList="advertisementStatuses" :categories="categories" ref="adForm" />
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import JetSectionBorder from "@/Jetstream/SectionBorder";

import AdvertisementTable from "./Table";
import AdvertisementForm from "./Form";

export default {
    components: {
        AppLayout,
        JetSectionBorder,

        AdvertisementTable,
        AdvertisementForm
    },
    props: ["advertisements", "advertisementStatuses", "categories"],
    methods: {
        editAdvertisement: function(advertisement) {
            this.$refs.adForm.setAdvertisement(advertisement);
        }
    }
};
</script>
