<template>
    <app-layout>
        <template #header>
            <h2>Active advertisements</h2>
            <!-- <pre>{{ advertisements }}</pre> -->
        </template>

        <advertisement-accordion :advertisements="advertisements" />
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
// import JetSectionBorder from "@/Jetstream/SectionBorder";
import AdvertisementAccordion from "./Accordion";

export default {
    components: {
        AppLayout,
        AdvertisementAccordion
    },
    props: {
        advertisements: {
            type: Object,
            required: true
        }
    },
};
</script>
