<template>
  <app-layout>
    <template #header>
      <h2 class="h4 font-weight-bold">
        {{ advertisement.title }}
      </h2>
    </template>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow bg-light">
          <div class="card-body bg-white px-5 py-3 border-bottom rounded-top">
            Upgrade your advertisement to premium status by paying <em><mp-price :price="amount / 100" /></em>
            <mp-stripe-form
              class="mt-2"
              :stripe_key="stripe_key"
              :amount="1000"
              :process_url="route('advertisements.process', advertisement)"
              :payment_intent_minimized="payment_intent_minimized"
            />
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MpPrice from "@/Marktplaats/Price";
import MpStripeForm from "@/Marktplaats/StripeForm";
export default {
  components: {
    AppLayout,
    MpPrice,
    MpStripeForm,
  },
  props: {
    advertisement: {
      type: Object,
      required: true,
    },
    payment_intent_minimized: { type: Object, required: true },
    stripe_key: { type: String, required: true },
    amount: { type: Number, required: true },
  },
};
</script>
