<template>
    <app-layout>
        <template #header>
            <h2 class="h4 font-weight-bold">
                {{ advertisement.title }}
            </h2>
        </template>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow bg-light">
                    <div
                        class="card-body bg-white px-5 py-3 border-bottom rounded-top"
                    >
                        <h3>Vraagprijs: <mp-price :price="advertisement.price" /></h3>
                        <h4>Afstand: {{ advertisement.distance_km }} km</h4>

                        <advertisement-body :advertisement="advertisement" />
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import MpPrice from "@/Marktplaats/Price";
import AdvertisementBody from "./Body";
export default {
    components: {
        AppLayout,
        AdvertisementBody,
        MpPrice
    },
    props: {
        advertisement: {
            type: Object,
            required: true
        }
    }
};
</script>
