<template>
    <div class="row">
        <div class="col-md-2">
            <jet-section-title>
                <template #title> My Advertisements </template>
                <template #description>Manage your advertisements</template>
            </jet-section-title>
        </div>

        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div v-if="advertisements.length" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Offer</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Updated</th>
                                    <th scope="col">Premium</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="advertisement in advertisements"
                                    :key="advertisement.id"
                                >
                                    <td>
                                        {{ advertisement.title }}
                                        <inertia-link
                                            :href="
                                                route(
                                                    'advertisements.show',
                                                    advertisement
                                                )
                                            "
                                        >
                                            <i class="bi-link-45deg"></i>
                                        </inertia-link>
                                        <span v-if="advertisement.premium" class="badge bg-info">Premium</span>
                                    </td>
                                    <td>
                                        <mp-price
                                            :price="advertisement.price"
                                        />
                                    </td>
                                    <td>
                                        <mp-price :price="advertisement.best_offer_price" />
                                    </td>
                                    <td>
                                        {{
                                            advertisement.advertisement_status
                                                .title
                                        }}
                                    </td>
                                    <td>
                                        <mp-time
                                            :date-time="
                                                advertisement.created_at
                                            "
                                        />
                                    </td>
                                    <td>
                                        <mp-time
                                            :date-time="
                                                advertisement.updated_at
                                            "
                                        />
                                    </td>
                                    <td>
                                        <mp-time v-if="advertisement.premium" :date-time="advertisement.premium_at" />
                                        <inertia-link v-else class="btn btn-info" :href="route('advertisements.premium', advertisement)" title="Upgrade to premium">
                                            <!-- <i class="bi bi-credit-card"></i> -->
                                            €
                                        </inertia-link>
                                    </td>
                                    <td>
                                        <jet-secondary-button
                                            @click.native="
                                                editAdForm(advertisement)
                                            "
                                        >
                                            Edit
                                        </jet-secondary-button>
                                    </td>
                                    <td>
                                        <jet-danger-button
                                            @click.native="
                                                confirmDelete(advertisement)
                                            "
                                            >Delete</jet-danger-button
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-else class="alert alert-info" role="alert">
                        You don't have any advertisements (yet).<br />
                        Let's add one by clicking the button below.
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <jet-secondary-button @click.native="editAdForm({})">
                        Add new advertisement
                    </jet-secondary-button>
                </div>
            </div>
        </div>

        <jet-confirmation-modal id="confirmModal">
            <template #title> Delete Advertisement </template>

            <template #content>
                <div v-if="adMatch" class="alert alert-warning">
                    You are editing this advertisement below as well.
                </div>

                Are you sure you want to delete the
                <em v-if="deleteAd">{{ deleteTitle }}</em> advertisement?
            </template>

            <template #footer>
                <jet-secondary-button data-bs-dismiss="modal">
                    Nevermind
                </jet-secondary-button>

                <jet-danger-button @click.native="deleteAdvertisement">
                    Delete Advertisement
                </jet-danger-button>
            </template>
        </jet-confirmation-modal>
    </div>
</template>

<script>
import JetSectionTitle from "@/Jetstream/SectionTitle";
import JetConfirmationModal from "@/Jetstream/ConfirmationModal";
import JetSecondaryButton from "@/Jetstream/SecondaryButton";
import JetDangerButton from "@/Jetstream/DangerButton";
import MpTime from "@/Marktplaats/Time";
import MpPrice from "@/Marktplaats/Price";

export default {
    props: ["advertisements"],
    components: {
        JetSectionTitle,
        JetConfirmationModal,
        JetSecondaryButton,
        JetDangerButton,
        MpTime,
        MpPrice,
    },
    data: function() {
        return {
            modal: null,
            editAd: null,
            deleteAd: null
        };
    },
    computed: {
        deleteTitle() {
            if (this.deleteAd) return this.deleteAd.title;
        },
        adMatch() {
            // check if ad selected for deleting is being edited at the same time
            return this.deleteAd && this.deleteAd === this.editAd;
        }
    },
    methods: {
        editAdForm(advertisement) {
            this.editAd = advertisement;
            this.$emit("edit-advertisement", advertisement);
        },
        confirmDelete(advertisement) {
            this.deleteAd = advertisement;

            let modalEl = document.getElementById("confirmModal");
            this.modal = new Bootstrap.Modal(modalEl);
            this.modal.show();

            // handle cancel / close events
            modalEl.addEventListener("hidden.bs.modal", this.cleanModal);
        },
        cleanModal() {
            this.deleteAd = null;
            if (this.modal !== null) {
                this.modal.dispose();
            }
        },
        deleteAdvertisement() {
            // advertisement selected for deleting
            let advertisement = this.deleteAd;

            // modal will be closed
            this.modal.hide();

            // delete the advertisement
            this.$inertia.delete(
                route("advertisements.destroy", advertisement),
                {
                    preserveState: !this.adMatch,
                    preserveScroll: true,
                    only: ["advertisements"]
                    // onFinish: this.cleanModal, // ehm...
                }
            );
        }
    }
};
</script>
