<template>
    <button :type="type" class="btn" :class="btnClass">
        <slot></slot>
    </button>
</template>

<script>
export default {
    props: {
        type: {
            type: String,
            default: "submit"
        },
        btnClass: {
            type: String,
            default: "btn-dark"
        }
    }
};
</script>
