<template>
    <input
        :class="classes"
        :value="value"
        @input="$emit('input', $event.target.value)"
        ref="input"
    />
</template>

<script>
export default {
    props: {
        value: {},
        classes: {
            type: String,
            default: "form-control"
        }
    },
    methods: {
        focus() {
            this.$refs.input.focus();
        }
    }
};
</script>
